.About{
    display: flex;
    background-image: url(https://i.gifer.com/Ozp.gif);
    background-size: 100% 100%;
}

.About-profile{
    position: absolute;
    margin-left: 43%;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 300px;
    width: 40%;
    color:white;
    font-family: "Nunito";
}

.About-info{
    margin-top: 250px;
    display:block;
}

.About-bold{
    font-weight: bold;
    margin-top: 50px;
}

.About-bio{
    color:white;
    text-align: center;
    font-size: 22px;
    font-family: "Nunito";
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.About-skills{
    color:white;
    text-align: center;
    font-size: 22px;
    font-family: "Nunito";
}

.About-skills-image{
    display:contents;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}