* {
    animation: globalFadeIn 1.0s;
}

@keyframes globalFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about-page-container {
    padding-top: 3%;
    height: 100vh;
    width: 100%;
    background-color: #32323b;
}

.about-page-content-container {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.about-bio-profile-pic-container{
    display:flex;
    align-items: center;
    justify-content: center;

}

.about-bio-profile-pic-img {
    max-width: 50%;
    border: double 4px transparent;
    border-radius: 75%;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.about-bio-description {
    padding-top: 3%;
    color: white;
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
}

.about-bio-description-content-experiences {
    list-style-type: none;
    margin: 0; padding: 0;
    font-weight: 600;
}





